<div id="show-user">
  <h3>Welcome, <%= @user.username %>!</h3>
  <h6>You have tried <%= @beers.count %> beers from <%= @breweries.count %> different breweries!</h6>

  <div id="show-user-beers">
    <ul class="list-group"></ul>
    <div class="btn-group" role="group" aria-label="Basic example">
      <div id="add-beer-form"></div>
      <div id='sort-button'></div>
    </div>
  </div>

  <%= link_to "View Your Beers", beers_url, id: "list-beers", class: "btn btn-outline-secondary" %><br>
</div>

<div id="show-beer"></div>

<div id="show-brewery"></div>
