<div id="show-user">
  <h3>Welcome, <%= @user.username %>!</h3>

  <div id="show-user-beers">
    <ul class="list-group"></ul>
    <div class="btn-group" role="group" aria-label="Basic example">
      <div id="add-beer-form"></div>
      <div id="sort-button"></div>
    </div>
  </div>
  <div class="list-beers-container">
    <%= link_to "View Your Beers", beers_url, id: "list-beers", class: "btn btn-outline-secondary" %>
  </div>
</div>

<div id="show-beer"></div>

<div id="show-brewery"></div>
