<h2>Choose a Brewery to Explore!</h2>

<div>
  <% @breweries.each do |brewery| %>
    Name: <%= link_to "#{brewery.name}", brewery_path(brewery) %>
    Location: <%= brewery.location %>
    <%= brewery.beers.users.count %> user(s) have logged <%= brewery.beers.count %> beer(s) distributed by this brewery!
  <% end %>
</div>
