<h1><%= @user.username %>'s Beers</h1>

<div class="beers">
  <%= render 'beers/beers' %>
</div>

<div id="new-beer">
  <h3>New Beer</h3>
  <form id="new-beer-form">
    <%= render partial: 'form', locals: {beer: @beer = Beer.new, brewery: @brewery = Brewery.new} %>
  </form>
</div>
